// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Classx

//img {
//  width: 25%;
//  height: 25%
//}

.product-box {
  background: rgba(205, 231, 240, 0.6);;
  border-radius: 10px;
  height: 400px;
  margin: 5px
}  

.img-responsive {
  width: 25%;
  height: 25%
}

// Class
//.center-block {
//  display: block;
//  margin-left: auto;
//  margin-right: auto;
// }
