<html>
  <head>
    <title>IU Webmaster redirect</title>
    <META http-equiv="refresh" content="1;URL=http://localhost:3000/products/">
  </head>
  <body bgcolor="#ffffff">
    <center>The contents you are looking for have moved. You will be redirected to the new location automatically in 5 seconds. Please bookmark the correct page at <a href="http://localhost:3000/products/"> http://localhost:3000/products</a>
    </center>
  </body>
</html>
